<% include ../partials/header.ejs %>
<!-- -->


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h3>Projects programmed at Sony Pictures</h3>
            <p>
                <a class="btn btn-primary" href="/titles/new">Add New Title</a>
            </p>
        </div>
    </header>



    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% titles.forEach(function(title){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= title.image %>">

                    <div class="caption">
                        <h4><%= title.name %></h4>
                    </div>

                    <p>
                        <a href="/titles/<%= title._id %>" class="btn btn-primary">
                            More Info
                        </a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div> <!-- end class="container" -->



<% include ../partials/footer.ejs %>
