<% include partials/header.ejs %>


<h1>new.ejs</h1>


<form action="/sonytitles" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>





















<% include partials/footer.ejs %>
