body {
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Varela Round', sans-serif;
    /*font-family: 'Bangers', cursive;*/
    /*font-family: 'Monoton', cursive;*/
    padding: 60px 0 0 0; /* for navbar-fixed-top */

    background: #BE93C5; /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #BE93C5 , #7BC6CC);
}
.div-thumb-style {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 8px;
}

#delete-form {
    display: inline;
}

.h1-center {
    text-align: center;
}
.header-width-30 {
    width: 30%;
    margin: 30px auto;
}
