body {
    font-family: 'Raleway', sans-serif;
    padding: 60px 0 0 0; /* for navbar-fixed-top */

    background: #808080; /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #808080 , #006699);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #808080 , #006699);
}
.div-thumb-style {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
                0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.thumbnail .caption-full {
    padding: 8px;
}

#delete-form {
    display: inline;
}

.h1-center {
    text-align: center;
    text-shadow: 1px 1px 2px #FFFFFF;
}
.header-width-30 {
    width: 30%;
    margin: 30px auto;
}
